<!DOCTYPE html>
<html>
<head>
    <title>View Buses</title>
</head>
<body>

<h2>All Buses</h2>

<table border="2" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Bus Name</th>
        <th>Route</th>
        <th>Time</th>
        <th>Seats</th>
    </tr>

    {% for bus in buses %}
    <tr>
        <td>{{ bus.id }}</td>
        <td>{{ bus.bus_name }}</td>
        <td>{{ bus.route }}</td>
        <td>{{ bus.time }}</td>
        <td>{{ bus.seats }}</td>
    </tr>
    {% endfor %}

</table>

</body>
</html>
